  <footer class="container-fluid footer-wrap">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <ul class="footer-nav-links list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Itineraries</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-4 text-center">
        <a href="#" class="footer-logo-link">
          <span class="footer-logo"></span>
        </a>
      </div>
      <div class="col-xs-6 col-md-4 text-right">
        <div class="footer-socials">
          <a href="#" class="f-social-fb">
            <span></span>
          </a>
          <a href="#" class="f-social-tw">
            <span></span>
          </a>
        </div>
        <span class="footer-copyright">(c) Wanderist 2014</span>
      </div>
    </div>

  </footer>