<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="seejay" />
    <meta name="description" content="Test" />
    <meta name="Resource-type" content="Document" />
    <title>Details</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/css/main.css">


</head>

<body>

  <header class="container-fluid">

    <div class="row">
      <nav class="navbar navbar-default">
        <div class="col-sm-6">
          <div class="content-header">
            <div class="collapse panel-collapse left-side-menu-wrap" data-toggle="collapse" id="sidebar-accordion" aria-labelledby="sidebar-accordion">
            <div class="left-side-menu-list" id="sidebar_menu" role="tablist" aria-multiselectable="true">

                <div class="menu-logo-wrap">
                  <div class="header-logo"></div>
                </div>
                <div class="">
                  <div class="menu-item-title">
                    <h5 class="itineraries-title">
                      <a href="#">Itineraraies</a>
                    </h5>
                  </div>
                </div>
                <div class="">
                  <div class="menu-item-title">
                    <h5 class="contests-title">
                      <a href="#">Contests</a>
                    </h5>
                  </div>
                </div>

                <div class="">
                  <div class="" role="tab" id="user_profile">
                    <h5 class="user-title">
                      <span class="user-avatar"></span>
                      <a href="#user_profile_list">John Kennedy</a>
                    </h5>
                  </div>
                  <!-- <div id="user_profile_list" class="panel-collapse collapse in" role="tabpanel"  aria-labelledby="user_profile" data-toggle="collapse"> -->
                    <div class="">
                      <ul class="user-profile-list">
                        <li>
                          <i class="fa fa-plane" aria-hidden="true"></i>
                          <a href="#">My itineraries</a>
                        </li>
                        <li>
                          <i class="fa fa-compass" aria-hidden="true"></i>
                          <a href="#">My contests</a>
                        </li>
                        <li>
                          <i class="fa fa-cog" aria-hidden="true"></i>
                          <a href="#">Settings</a>
                        </li>
                        <li>
                          <i class="fa fa-money" aria-hidden="true"></i>
                          <a href="#">Payments</a>
                        </li>
                        <li>
                          <i class="fa fa-power-off" aria-hidden="true"></i>
                          <a href="#">Log out</a>
                        </li>
                      </ul>
                    </div>
                  <!-- </div> -->
                </div>

                <div class="menu-item-title">
                  <div class="" role="tab">
                    <h5 class="msgs-title">
                      <a href="#user_profile_msgs" role="button" data-toggle="collapse" aria-expended="false" aria-controls="user-profile">Messages</a>
                    </h5>
                  </div>
                  <div id="user_profile_msgs" class="panel-collapse collapse in" role="tabpanel"  aria-labelledby="user_profile" data-toggle="collapse">
                    <div class="list-group">
                      <ul class="">
                        <li>
                          msg1
                        </li>
                        <li>
                          My cvzx
                        </li>
                        <li>
                          Ssdasd
                        </li>
                        <li>
                         sdasdas
                        </li>
                        <li>
                          asdqwe
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

            </div>
            </div>
             <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#sidebar-accordion" aria-controls="sidebar-accordion">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <ul class="nav navbar-nav navbar-static-top">
                <li><a href="#">Overview</a></li>
                <li class="active"><a href="#">Details<span class="sr-only">(current)</span></a></li>
              </ul>

          </div>

        </div>
        
        <div class="col-sm-3 pull-right">
          <span>Share this itinerary:</span>
          <button type="button" class="social-fb"></button>
          <button type="button" class="social-tw"></button>
        </div>
      </nav>
    </div>

  </header>

  <section class="container-fluid">

      <button class="btn btn-sidebar collapsed" type="button" data-toggle="collapse" data-target="#details_info_pop" data-placement="right" aria-expanded="false" aria-controls="details_info_pop">
        <i class="glyphicon glyphicon-menu-right"></i>
      </button>
      <div class="collapse" id="details_info_pop" data-placement="right">
        <div class="sidebar-wrap" role="tablist" class="panel-group" id="sidebar_accordion">

          <div class="header-datepicker text-center">
            <i class="glyphicon glyphicon-menu-left"></i>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-daypick active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Jun 24
              </label>
              <label class="btn btn-daypick">
                <input type="radio" name="options" id="option2" autocomplete="off"> Jun 25
              </label>
              <label class="btn btn-daypick">
                <input type="radio" name="options" id="option3" autocomplete="off"> Jun 26
              </label>
            </div>
            <i class="glyphicon glyphicon-menu-right"></i>
          </div>

          <div class="sidebar-details-item-wrap">

            <div class="panel-group">
              <div class="panel-heading" role="tab" id="heading-sidebar-item1">
                <h4 class="panel-title">
                  <a href="#collapse-sidebar-item1" role="button" aria-controls="collapse-sidebar-item1" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cutlery"></i>
                    Trattoria Da Ropeton
                    <span class="pull-right lunch-time">
                      <i class="glyphicon glyphicon-time"></i>
                      10.00
                    </span>
                    <h5 class="panel-subtitle">
                      Via Fontana del Ferro, 1, Verona, Italy
                    </h5>
                  </a>
                </h4>
              </div>
              <div id="collapse-sidebar-item1" class="panel-collapse collapse" role="tabpanel" data-toggle="collapse" aria-expanded="true" aria-labelledby="heading-sidebar-item1">
                <div class="sidebar-item-img"></div>
                <p>
                  Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
                </p>
                <a href="#collapse-sidebar-item1" class="collapse-btn" role="button" aria-controls="collapse-sidebar-item1" data-toggle="collapse">
                  <i class="glyphicon glyphicon-menu-up"></i>
                </a>
              </div>
            </div>

          </div>

          <div class="waytrip-icon">
            <span>
              <i class="glyphicon glyphicon-road"></i>
            </span>
          </div>

           <div class="sidebar-details-item-wrap">

            <div class="panel-group">
              <div class="panel-heading" role="tab" id="heading-sidebar-item2">
                <h4 class="panel-title">
                  <a href="#collapse-sidebar-item2" role="button" aria-controls="collapse-sidebar-item2" data-toggle="collapse">
                    <i class="glyphicon glyphicon-cutlery"></i>
                    Trattoria Da Ropeton
                    <span class="pull-right lunch-time">
                      <i class="glyphicon glyphicon-time"></i>
                      12.00
                    </span>
                    <h5 class="panel-subtitle">
                      Via Fontana del Ferro, 1, Verona, Italy
                    </h5>
                  </a>
                </h4>
              </div>
              <div id="collapse-sidebar-item2" class="panel-collapse collapse" role="tabpanel" data-toggle="collapse" aria-expanded="true" aria-labelledby="heading-sidebar-item2">
                <div class="sidebar-item-img"></div>
                <p>
                  Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
                </p>
                <a href="#collapse-sidebar-item2" class="collapse-btn" role="button" aria-controls="collapse-sidebar-item2" data-toggle="collapse">
                  <i class="glyphicon glyphicon-menu-up"></i>
                </a>
              </div>
            </div>

          </div>

        </div>
      </div>

  </section>

<!-- <script type="text/javascript" src="../scripts/GoogleMaps.js"></script> -->

</body>

</html>
