@font-face {
  font-family: 'open_sansbold';
  src: url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.eot");
  src: url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot");
  src: url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 49, ../scss/main.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: open_sansregular;
}

/* line 55, ../scss/main.scss */
#map {
  height: calc(100% - 50px);
  top: 50px;
}

/* line 59, ../scss/main.scss */
a:focus {
  text-decoration: none;
}

/* line 65, ../scss/main.scss */
header.container-fluid {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
/* line 73, ../scss/main.scss */
header.container-fluid .row nav.navbar-default {
  height: 60px;
  background-image: none;
  background-color: #C8b485;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}
/* line 83, ../scss/main.scss */
header.container-fluid .row .content-header.nav.navbar-nav.collapse.in {
  position: relative;
  top: -80px;
  left: 370px;
}
/* line 90, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle {
  display: inline-block;
  border: none;
  color: #453c25;
  background-color: #C8b485;
  margin: 14px 10px 0 10px;
}
/* line 97, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle .icon-bar {
  position: relative;
  background-color: #453c25;
}
/* line 102, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle:hover .icon-bar:nth-child(2) {
  transition: top 500ms ease-in-out;
  top: -1px;
}
/* line 106, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle:hover .icon-bar:last-child {
  transition: top 500ms ease-in-out;
  top: 1px;
}
/* line 114, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap {
  width: 340px;
  position: relative;
  left: -15px;
  top: 0;
  background: linear-gradient(to right, #4c4132, #776845);
}
/* line 121, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapsing {
  -webkit-transition: right 1s ease-out 0.5s;
  -moz-transition: right 1s ease-out 0.5s;
  -o-transition: right 1s ease-out 0.5s;
  transition: right 1s ease-out 0.5s;
}
/* line 127, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in {
  height: 100%;
}
/* line 129, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle {
  position: absolute;
  top: -14px;
  left: 315px;
  color: #fff;
  background-color: #942033;
  padding: 25px;
  border-radius: 0;
  transition: right 1s ease-out 0.5s;
  border-bottom: 2px solid #851d2e;
}
/* line 139, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle:hover {
  background-color: #a42338;
}
/* line 142, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle:focus {
  border-bottom: none;
  border-top: 2px solid #851d2e;
}
/* line 146, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle:active {
  border-bottom: 2px solid #851d2e;
  border-top: none;
}
/* line 151, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(3) {
  display: none;
}
/* line 154, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(2) {
  width: 18px;
  background-color: #fff;
  top: 3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 164, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(4) {
  width: 18px;
  background-color: #fff;
  top: -3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 175, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top {
  position: fixed;
  top: 0;
  left: 392px;
  transition: right 1s ease-out 0.5s;
}
/* line 180, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top .btn-overview {
  padding: 18px 0 17px 8px;
}
/* line 182, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top .btn-overview span {
  top: 23px;
  left: 12px;
}
/* line 188, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top .btn-details span {
  top: 20px;
  left: 154px;
}
/* line 198, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list {
  background: linear-gradient(to right, #4c4132, #776845);
}
/* line 202, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(2) .menu-item-title {
  border-bottom: 1px solid #4f4332;
}
/* line 207, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(3) {
  border-bottom: 1px solid #4f4332;
}
/* line 210, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(5) {
  border-top: 1px solid #4f4332;
  border-bottom: 1px solid #4f4332;
}
/* line 214, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list {
  list-style-type: none;
}
/* line 216, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li {
  padding: 8px;
}
/* line 218, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li i {
  color: #a39b8b;
  padding-right: 30px;
}
/* line 222, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li a {
  font-size: 14px;
  font-family: 'open_sanslight';
  color: #a39b8b;
}
/* line 226, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 235, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .menu-logo-wrap {
  height: 60px;
  background: linear-gradient(to bottom right, #473e2d, #4e432f);
}
/* line 238, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .menu-logo-wrap .header-logo {
  width: 168px;
  height: 28px;
  background: url("../../../ui/uploads/header-logo.png") 3% 50% no-repeat;
  padding: 25px 0 25px 35px;
  margin-left: 30px;
}
/* line 247, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div {
  width: inherit;
  /*height: 60px;*/
  /*border-bottom: 1px solid #4c412d;*/
}
/* line 252, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title {
  padding: 20px;
}
/* line 255, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .itineraries-title {
  margin: 0;
}
/* line 258, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .itineraries-title:before {
  content: " ";
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url("../../../ui/uploads/itinerary-menu-icon.png");
  margin-left: 15px;
}
/* line 268, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .contests-title {
  margin: 0;
}
/* line 271, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .contests-title:before {
  content: " ";
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url("../../../ui/uploads/contests-menu-icon.png");
  margin-left: 15px;
}
/* line 281, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-title {
  margin: 0;
}
/* line 284, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-title:before {
  content: " ";
  width: 26px;
  height: 20px;
  position: absolute;
  background-image: url("../../../ui/uploads/messages-menu-icon.png");
  margin-left: 15px;
}
/* line 293, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title a {
  font-size: 18px;
  font-family: 'open_sanslight';
  color: #c3beb4;
  padding: 0 0 0 60px;
}
/* line 298, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 303, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .badge {
  color: #453c25;
  background-color: #ffdf06;
  margin-right: 35px;
}
/* line 308, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body {
  height: calc(100% + 100px);
  position: absolute;
  left: 0;
  top: 497px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #574d37;
  /*opacity: 0.702;*/
}
/* line 318, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body::-webkit-scrollbar {
  background-color: #423b2a;
  width: 10px;
}
/* line 319, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body::-webkit-scrollbar-button {
  display: none;
}
/* line 321, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body::-webkit-scrollbar-thumb {
  background-color: #564d36;
  box-shadow: inset 0px 0px 1px 2px #423b2a;
  -webkit-box-shadow: inset 0px 0px 1px 2px #423b2a;
  border-radius: 5px;
}
/* line 327, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .itinerary-list {
  border-bottom: 1px solid #5f553d;
}
/* line 329, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .itinerary-list p {
  padding: 15px 0 15px 40px;
}
/* line 333, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .contests-list {
  border-bottom: 1px solid #5f553d;
}
/* line 335, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .contests-list p {
  padding: 15px 0 15px 40px;
}
/* line 339, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul {
  padding: 0 40px 5px 40px;
  list-style-type: none;
}
/* line 342, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul li {
  color: #c3beb4;
  word-break: break-word;
}
/* line 345, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul li span {
  color: #d4ba14;
  float: right;
  margin-right: -8px;
}
/* line 355, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title {
  margin: 0;
  padding-top: 18px;
}
/* line 358, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title .user-avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("../../../ui/uploads/user-avatar.png");
  border-radius: 50%;
  margin: 3px 8px 3px 30px;
}
/* line 366, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title a {
  font-size: 18px;
  font-family: 'open_sanslight';
  color: #c3beb4;
  display: inline-block;
  padding: 10px 0 0 12px;
  vertical-align: top;
}
/* line 373, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 384, ../scss/main.scss */
header.container-fluid .row .btn-overview {
  width: 140px;
  background-color: #C8b485;
  font-family: 'open_sansregular';
  font-size: 18px;
  color: #443b25;
  box-shadow: none;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #bba87b;
  border-right: 1px solid #bba87b;
  padding: 18px 0 17px 10px;
  margin-right: -4px;
}
/* line 398, ../scss/main.scss */
header.container-fluid .row .btn-overview.active {
  font-family: 'open_sansbold';
  background-color: #d2c29b;
  box-shadow: none;
  font-weight: bold;
}
/* line 404, ../scss/main.scss */
header.container-fluid .row .btn-overview:hover {
  background-color: #d3c39d;
}
/* line 407, ../scss/main.scss */
header.container-fluid .row .btn-overview:active:focus {
  outline: none;
}
/* line 410, ../scss/main.scss */
header.container-fluid .row .btn-overview.active:focus {
  outline: none;
}
/* line 413, ../scss/main.scss */
header.container-fluid .row .btn-overview:focus {
  outline: none;
}
/* line 416, ../scss/main.scss */
header.container-fluid .row .btn-overview .overview-icon {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 23px;
  left: 74px;
  background-image: url("../../../ui/uploads/overview-icon.png");
}
/* line 426, ../scss/main.scss */
header.container-fluid .row .btn-details {
  width: 140px;
  background-color: #C8b485;
  font-family: 'open_sansregular';
  font-size: 18px;
  color: #443b25;
  box-shadow: none;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #bba87b;
  padding: 18px 0 17px 10px;
}
/* line 438, ../scss/main.scss */
header.container-fluid .row .btn-details.active {
  font-family: 'open_sansbold';
  background-color: #d2c29b;
  box-shadow: none;
  font-weight: bold;
}
/* line 444, ../scss/main.scss */
header.container-fluid .row .btn-details:hover {
  background-color: #d3c39d;
}
/* line 447, ../scss/main.scss */
header.container-fluid .row .btn-details:active:focus {
  outline: none;
}
/* line 450, ../scss/main.scss */
header.container-fluid .row .btn-details:focus {
  outline: none;
}
/* line 453, ../scss/main.scss */
header.container-fluid .row .btn-details .details-icon {
  width: 20px;
  height: 16px;
  position: absolute;
  top: 20px;
  left: 220px;
  background-image: url("../../../ui/uploads/details-icon.png");
}
/* line 462, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap {
  position: fixed;
  top: 0;
  right: 10px;
  padding: 20px 120px 0 0;
  text-align: right;
}
/* line 468, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .share-social-text {
  font-size: 15px;
  font-family: 'open_sansregular';
  color: #453c25;
}
/* line 474, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb {
  position: absolute;
  right: 65px;
  top: 8px;
  border: none;
  background-color: transparent;
}
/* line 480, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb :hover {
  cursor: pointer;
}
/* line 483, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb:focus {
  outline: none;
}
/* line 487, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw {
  position: absolute;
  right: 15px;
  top: 8px;
  border: none;
  background-color: transparent;
}
/* line 493, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw :hover {
  cursor: pointer;
}
/* line 496, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw:focus {
  outline: none;
}

/* line 507, ../scss/main.scss */
.no-padding {
  padding: 0;
}

/* line 510, ../scss/main.scss */
.content-header-wrap {
  width: 100%;
  height: 420px;
  position: relative;
  padding: 0;
  background-image: url("../../../ui/uploads/content-header-lv.png");
  background-size: 100% 100%;
}
/* line 518, ../scss/main.scss */
.content-header-wrap .content-header-text {
  position: absolute;
  bottom: 25px;
  padding: 0 5% 0 20%;
  color: #fff;
}
/* line 524, ../scss/main.scss */
.content-header-wrap .content-header-text .trip-title {
  font-family: open_sanslight;
}
/* line 527, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs {
  font-family: open_sansregular;
}
/* line 530, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .text-uppercase {
  padding-right: 20px;
}
/* line 533, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .family-icon {
  width: 23px;
  height: 20px;
  padding: 0 15px 0 30px;
  background: url("../../../ui/uploads/family-icon.png") no-repeat;
}
/* line 538, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .family-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 8px;
}
/* line 548, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .food-icon {
  width: 13px;
  height: 20px;
  padding: 0 18px 0 20px;
  background: url("../../../ui/uploads/food-icon.png") no-repeat;
}
/* line 553, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .food-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 8px;
}
/* line 563, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .shopping-icon {
  width: 22px;
  height: 20px;
  padding: 0 18px 0 30px;
  background: url("../../../ui/uploads/shopping-icon.png") no-repeat;
}
/* line 568, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .shopping-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 10px;
}
/* line 578, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .pet-icon {
  width: 20px;
  height: 20px;
  padding: 0 15px 0 28px;
  background: url("../../../ui/uploads/pet-icon.png") no-repeat;
}

/* line 588, ../scss/main.scss */
.content-guide-wrap {
  padding: 5px 12%;
}
/* line 592, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info {
  margin: 30px 0 25px 0;
}
/* line 598, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .media-heading {
  font-family: open_sansbold;
}
/* line 601, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating {
  margin-left: 0;
}
/* line 603, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li {
  padding: 0;
}
/* line 605, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li span {
  color: #eed002;
}
/* line 608, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li .empty {
  color: #d9d8c3;
}
/* line 617, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap {
  width: 100%;
  display: inline-block;
}
/* line 620, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap span {
  width: 14%;
}
/* line 623, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap .progress {
  width: 66%;
  height: 10px;
  display: inline-block;
  background-color: #b9e005;
  border: 1px solid #d9d8c3;
  border-radius: 35px;
  box-shadow: none;
  padding: 1px;
  margin: 6px 0 10px 15px;
}
/* line 634, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap .progress .progress-bar-success {
  background-color: #b9e005;
  border-radius: 10px;
}
/* line 641, ../scss/main.scss */
.content-guide-wrap .user-overview-wrap {
  padding-top: 15px;
}
/* line 643, ../scss/main.scss */
.content-guide-wrap .user-overview-wrap h5 {
  font-family: open_sansbold;
}
/* line 646, ../scss/main.scss */
.content-guide-wrap .user-overview-wrap a {
  padding-left: 50%;
}
/* line 649, ../scss/main.scss */
.content-guide-wrap .user-overview-wrap a:hover {
  color: #d9534f;
}

/* line 657, ../scss/main.scss */
.content-primary-wrap {
  margin: 0 10%;
  padding: 20px 0;
  background-color: #f5f4e2;
  border: 1px solid #e4e3d2;
  border-radius: 8px;
  /*    .trip-heading:after {
      	content: "";
  	    width: 63%;
  	    position: absolute;
      	left: 196px;
      	bottom: 167px;
  	    padding-bottom: 8px;
      	background-color: #e4e3d2;
  	    border-radius: 50%;
      }*/
}
/* line 664, ../scss/main.scss */
.content-primary-wrap .panel-group {
  margin-bottom: 0;
}
/* line 679, ../scss/main.scss */
.content-primary-wrap .panel-heading {
  font-family: open_sansbold;
  padding: 5px 15px;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 2px dashed #edede9;
  border-bottom: 2px dashed #edede9;
  border-radius: 0;
}
/* line 688, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title {
  color: #3d380A;
}
/* line 691, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a.collapsed {
  color: #3d380A;
}
/* line 693, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a.collapsed:hover {
  text-decoration: none;
}
/* line 696, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a.collapsed:focus {
  outline: none;
  text-decoration: none;
}
/* line 701, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a.collapsed span i {
  top: -5px;
  padding: 5px;
  border: 1px solid #fedf0c;
  border-radius: 50%;
  background-color: #fff;
  transform: none;
}
/* line 711, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a {
  color: #3d380A;
}
/* line 713, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a:hover {
  text-decoration: none;
}
/* line 716, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a:focus {
  outline: none;
  text-decoration: none;
}
/* line 721, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a span i {
  top: -5px;
  padding: 5px;
  border: 1px solid #fedf0c;
  border-radius: 50%;
  background-color: #fff;
  transform: rotate(180deg);
}
/* line 733, ../scss/main.scss */
.content-primary-wrap .trip-body {
  padding-bottom: 150px;
}
/* line 736, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-map-img {
  width: 340px;
  height: 225px;
  display: inline-block;
  background: url("../../../ui/uploads/trip-map.png") 100% 100% no-repeat;
  margin-bottom: 45px;
}
/* line 743, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img {
  width: 340px;
  height: 200px;
  display: inline-block;
  position: relative;
  background: url("../../../ui/uploads/trip-lv-img2.png") 100% 100% no-repeat;
}
/* line 750, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details {
  position: absolute;
  bottom: -155px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 758, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details P {
  padding: 15px;
}
/* line 761, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  color: #ec4b36;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 773, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 776, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}
/* line 786, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-timeline {
  width: 100px;
  height: 364px;
  display: inline-block;
  position: absolute;
  top: 140px;
  left: 385px;
  background: url("../../../ui/uploads/trip-timeline.png") 100% 100% no-repeat;
}
/* line 795, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img {
  width: 340px;
  height: 200px;
  position: relative;
  display: inline-block;
  background: url("../../../ui/uploads/trip-lv-img.png") 100% 100% no-repeat;
  margin-bottom: 120px;
}
/* line 803, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details {
  position: absolute;
  bottom: -115px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 811, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details P {
  padding: 15px;
}
/* line 814, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  color: #ec4b36;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 826, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 829, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}
/* line 839, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img {
  width: 340px;
  height: 170px;
  position: relative;
  display: inline-block;
  background: url("../../../ui/uploads/trip-lv-img3.png") 100% 100% no-repeat;
}
/* line 846, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details {
  position: absolute;
  bottom: -135px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 854, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details P {
  padding: 15px;
}
/* line 857, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  color: #ec4b36;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 869, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 872, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}

/* line 887, ../scss/main.scss */
.content-slave-wrap .dotted-trip-img {
  width: 195px;
  height: 100px;
  display: block;
  margin: 0 auto;
  background: url("../../../ui/uploads/dotted-trip.png") 100% 100% no-repeat;
}
/* line 894, ../scss/main.scss */
.content-slave-wrap h4 {
  font-family: open_sansbold;
}
/* line 897, ../scss/main.scss */
.content-slave-wrap p {
  width: 300px;
  height: auto;
  margin: 0 auto;
}
/* line 902, ../scss/main.scss */
.content-slave-wrap .new-contest-btn {
  width: 269px;
  height: 50px;
  font-size: 16px;
  color: #3d380a;
  background-color: #ffdf06;
  box-shadow: 0px 2px 0px 0px rgba(223, 196, 10, 0.004);
  border-radius: 5px;
  margin: 15px 0 20px 0;
}
/* line 922, ../scss/main.scss */
.content-slave-wrap .learn-more-link {
  font-size: 12px;
  text-decoration: underline;
  color: #3d380a;
  padding-left: 15px;
}

/* line 935, ../scss/main.scss */
.footer-wrap {
  background-color: #453c25;
  padding: 25px 50px 6px 50px;
}
/* line 939, ../scss/main.scss */
.footer-wrap .footer-nav-links {
  text-decoration: inherit;
  padding: 10px 0 0 0;
}
/* line 943, ../scss/main.scss */
.footer-wrap .footer-nav-links li a {
  color: #fff;
  text-decoration: none;
}
/* line 948, ../scss/main.scss */
.footer-wrap .footer-nav-links :hover {
  color: #ffdf06;
}
/* line 953, ../scss/main.scss */
.footer-wrap .footer-logo-link {
  margin-top: 6px;
}
/* line 956, ../scss/main.scss */
.footer-wrap .footer-logo-link .footer-logo {
  width: 57px;
  height: 27px;
  display: inline-block;
  background: url("../../../ui/uploads/footer-arrow.png") 100% 100% no-repeat;
}
/* line 962, ../scss/main.scss */
.footer-wrap .footer-logo-link :hover {
  background: url("../../../ui/uploads/footer-arrow_hover.png") 100% 100% no-repeat;
}
/* line 967, ../scss/main.scss */
.footer-wrap .footer-copyright {
  color: #796b46;
}
/* line 972, ../scss/main.scss */
.footer-wrap .footer-socials .f-social-fb {
  padding-right: 8px;
}
/* line 974, ../scss/main.scss */
.footer-wrap .footer-socials .f-social-fb i {
  color: #fff;
}
/* line 979, ../scss/main.scss */
.footer-wrap .footer-socials .f-social-tw i {
  color: #fff;
}

/* line 989, ../scss/main.scss */
.btn-sidebar {
  max-height: 100%;
  width: 20px;
  height: 30px;
  display: block;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 75px;
  left: 560px;
  background-color: #fede06;
}
/* line 1001, ../scss/main.scss */
.btn-sidebar.collapsed {
  left: 0px;
}
/* line 1003, ../scss/main.scss */
.btn-sidebar.collapsed i {
  display: inline-block;
  right: 6px;
}
/* line 1007, ../scss/main.scss */
.btn-sidebar.collapsed span {
  display: none;
}
/* line 1012, ../scss/main.scss */
.btn-sidebar span {
  display: inline-block;
  right: 6px;
}
/* line 1016, ../scss/main.scss */
.btn-sidebar i {
  display: none;
}
/* line 1020, ../scss/main.scss */
.btn-sidebar:before {
  content: " ";
  width: 3px;
  height: 100%;
  background-color: #fede06;
  position: fixed;
  left: 0;
  top: 0;
}

/* line 1032, ../scss/main.scss */
#details_info_pop.collapse.in {
  position: fixed;
  top: 50px;
  left: 0;
  width: 560px;
  height: 100%;
  background-color: #fafaf2;
}

/* line 1040, ../scss/main.scss */
.sidebar-wrap {
  width: 560px;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  left: 0;
}
/* line 1046, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar {
  width: 12px;
  height: 100%;
  background-color: #fff;
}
/* line 1051, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar-button {
  display: none;
}
/* line 1052, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar-track {
  border-right: 1px solid #e4e3d2;
  border-left: 1px solid #e4e3d2;
}
/* line 1056, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar-thumb {
  background-color: #e4e3d2;
  box-shadow: inset 0px 0px 0px 3px #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  border-radius: 8px;
}
/* line 1063, ../scss/main.scss */
.sidebar-wrap .header-datepicker {
  margin: 40px 0 30px 0;
}
/* line 1065, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group {
  margin: 10px 0;
}
/* line 1067, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group .btn-daypick {
  font-size: 14px;
  color: #453c25;
  background-color: #fff;
  border: 1px solid #ffdf06;
  padding: 5px 40px;
}
/* line 1075, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group .btn-daypick.active {
  background-color: #ffdf06;
}
/* line 1080, ../scss/main.scss */
.sidebar-wrap .header-datepicker i:hover {
  cursor: pointer;
}
/* line 1084, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap {
  padding: 0 40px;
}
/* line 1087, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group {
  padding: 10px;
  border: 1px solid #e4e3d2;
  border-radius: 10px;
  box-shadow: inset 0px -2px 0px 1px #e4e3d2;
}
/* line 1095, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a {
  font-family: 'open_sanssemibold';
  font-size: 18px;
}
/* line 1099, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a .fork-icon {
  width: 13px;
  height: 20px;
  display: inline-block;
  background: url("../../../ui/uploads/fork-icon.png") 100% 100% no-repeat;
  margin-right: 6px;
}
/* line 1106, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a .basket-icon {
  width: 18px;
  height: 16px;
  display: inline-block;
  background: url("../../../ui/uploads/basket-icon.png") 100% 100% no-repeat;
  margin-right: 6px;
}
/* line 1113, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a .black-pet-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../../../ui/uploads/pet-black-icon.png") 100% 100% no-repeat;
  margin-right: 6px;
}
/* line 1120, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a span {
  font-size: 15px;
}
/* line 1123, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a h5 {
  font-family: sans-serif;
  font-size: 15px;
  color: #a1a094;
}
/* line 1128, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a:hover {
  text-decoration: none;
}
/* line 1135, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .sidebar-item-img {
  position: relative;
  left: -9px;
  width: 465px;
  height: 260px;
  background: url("../../../ui/uploads/details-sidebar-pasta.png") 100% 100% no-repeat;
}
/* line 1143, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group p {
  padding: 5px 15px 0 15px;
}
/* line 1147, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .collapse-btn i {
  left: 45%;
}
/* line 1152, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap:last-child {
  margin-bottom: 125px;
}
/* line 1157, ../scss/main.scss */
.sidebar-wrap .waytrip-icon {
  padding: 13px 0 36px 50px;
  position: relative;
}
/* line 1160, ../scss/main.scss */
.sidebar-wrap .waytrip-icon:before {
  content: " ";
  width: 1px;
  height: 35px;
  background-color: #fede06;
  position: absolute;
  bottom: 70px;
  left: 67px;
}
/* line 1170, ../scss/main.scss */
.sidebar-wrap .waytrip-icon span i {
  padding: 10px;
  border: 1px solid #fede06;
  border-radius: 50%;
}
/* line 1176, ../scss/main.scss */
.sidebar-wrap .waytrip-icon:after {
  content: " ";
  background-color: #fede06;
  width: 1px;
  height: 35px;
  position: absolute;
  top: 50px;
  left: 67px;
}

@media (max-width: 768px) {
  /* line 1192, ../scss/main.scss */
  .header-socials-wrap {
    display: none;
  }
  /* line 1195, ../scss/main.scss */
  .header-socials-wrap.overview {
    top: 60px !important;
    display: block;
    color: #fff;
  }
  /* line 1200, ../scss/main.scss */
  .header-socials-wrap .share-social-text {
    color: #fff !important;
  }

  /* line 1204, ../scss/main.scss */
  .navbar-nav {
    margin: 0;
  }
}
@media (max-width: 1200px) {
  /* line 1211, ../scss/main.scss */
  .trip-body .col-sm-5 {
    display: inline-table;
    margin-top: 165px;
  }
  /* line 1215, ../scss/main.scss */
  .trip-body .trip-timeline {
    display: none !important;
  }
}
