@font-face {
  font-family: 'open_sansbold';
  src: url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.eot");
  src: url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.eot");
  src: url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.eot");
  src: url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot");
  src: url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff") format("woff"), url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../../fonts/opensans/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 49, ../scss/main.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 54, ../scss/main.scss */
#map {
  height: calc(100% - 50px);
  top: 50px;
}

/* line 58, ../scss/main.scss */
a:focus {
  text-decoration: none;
}

/* line 64, ../scss/main.scss */
header.container-fluid {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
/* line 72, ../scss/main.scss */
header.container-fluid .row nav.navbar-default {
  height: 60px;
  background-image: none;
  background-color: #C8b485;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}
/* line 82, ../scss/main.scss */
header.container-fluid .row .content-header.nav.navbar-nav.collapse.in {
  position: relative;
  top: -80px;
  left: 370px;
}
/* line 89, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle {
  display: inline-block;
  border: none;
  color: #453c25;
  background-color: #C8b485;
  margin-top: 14px;
}
/* line 96, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle .icon-bar {
  position: relative;
  background-color: #453c25;
}
/* line 101, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle:hover .icon-bar:nth-child(2) {
  transition: top 500ms ease-in-out;
  top: -1px;
}
/* line 105, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle:hover .icon-bar:last-child {
  transition: top 500ms ease-in-out;
  top: 1px;
}
/* line 113, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap {
  width: 340px;
  position: relative;
  left: -15px;
  top: 0;
  background: linear-gradient(to right, #4c4132, #776845);
}
/* line 120, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapsing {
  -webkit-transition: right 1s ease-out 0.5s;
  -moz-transition: right 1s ease-out 0.5s;
  -o-transition: right 1s ease-out 0.5s;
  transition: right 1s ease-out 0.5s;
}
/* line 126, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in {
  height: 100%;
}
/* line 128, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle {
  position: absolute;
  top: -14px;
  left: 340px;
  color: #fff;
  background-color: #942033;
  padding: 25px;
  border-radius: 0;
  transition: right 1s ease-out 0.5s;
  border-bottom: 2px solid #851d2e;
}
/* line 138, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle:hover {
  background-color: #a42338;
}
/* line 141, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle:focus {
  border-bottom: none;
  border-top: 2px solid #851d2e;
}
/* line 145, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle:active {
  border-bottom: 2px solid #851d2e;
  border-top: none;
}
/* line 150, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(3) {
  display: none;
}
/* line 153, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(2) {
  width: 18px;
  background-color: #fff;
  top: 3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 163, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(4) {
  width: 18px;
  background-color: #fff;
  top: -3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 174, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top {
  position: relative;
  bottom: 498px;
  left: 392px;
  transition: right 1s ease-out 0.5s;
}
/* line 179, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top .btn-overview {
  padding: 18px 0 17px 8px;
}
/* line 181, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top .btn-overview span {
  top: 23px;
  left: 12px;
}
/* line 187, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + div.nav.navbar-nav.navbar-static-top .btn-details span {
  top: 20px;
  left: 154px;
}
/* line 197, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list {
  background: linear-gradient(to right, #4c4132, #776845);
}
/* line 201, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(2) .menu-item-title {
  border-bottom: 1px solid #4f4332;
}
/* line 206, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(3) {
  border-bottom: 1px solid #4f4332;
}
/* line 209, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(5) {
  border-top: 1px solid #4f4332;
  border-bottom: 1px solid #4f4332;
}
/* line 213, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list {
  list-style-type: none;
}
/* line 215, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li {
  padding: 8px;
}
/* line 217, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li i {
  color: #a39b8b;
  padding-right: 30px;
}
/* line 221, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li a {
  font-size: 14px;
  font-family: 'open_sanslight';
  color: #a39b8b;
}
/* line 225, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 234, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .menu-logo-wrap {
  height: 60px;
  background: linear-gradient(to bottom right, #473e2d, #4e432f);
}
/* line 237, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .menu-logo-wrap .header-logo {
  width: 168px;
  height: 28px;
  background: url("../../../ui/uploads/header-logo.png") 3% 50% no-repeat;
  padding: 25px 0 25px 35px;
  margin-left: 30px;
}
/* line 246, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div {
  width: inherit;
  /*height: 60px;*/
  /*border-bottom: 1px solid #4c412d;*/
}
/* line 251, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title {
  padding: 20px;
}
/* line 254, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .itineraries-title {
  margin: 0;
}
/* line 257, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .itineraries-title:before {
  content: " ";
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url("../../../ui/uploads/itinerary-menu-icon.png");
  margin-left: 15px;
}
/* line 267, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .contests-title {
  margin: 0;
}
/* line 270, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .contests-title:before {
  content: " ";
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url("../../../ui/uploads/contests-menu-icon.png");
  margin-left: 15px;
}
/* line 280, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-title {
  margin: 0;
}
/* line 283, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-title:before {
  content: " ";
  width: 26px;
  height: 20px;
  position: absolute;
  background-image: url("../../../ui/uploads/messages-menu-icon.png");
  margin-left: 15px;
}
/* line 292, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title a {
  font-size: 18px;
  font-family: 'open_sanslight';
  color: #c3beb4;
  padding: 0 0 0 60px;
}
/* line 297, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 302, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .badge {
  color: #453c25;
  background-color: #ffdf06;
  margin-right: 35px;
}
/* line 307, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body {
  height: 103%;
  position: absolute;
  left: 0;
  top: 484px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #574d37;
  /*opacity: 0.702;*/
}
/* line 317, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body::-webkit-scrollbar {
  background-color: #423b2a;
  width: 10px;
}
/* line 318, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body::-webkit-scrollbar-button {
  display: none;
}
/* line 320, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body::-webkit-scrollbar-thumb {
  background-color: #564d36;
  box-shadow: inset 0px 0px 1px 2px #423b2a;
  -webkit-box-shadow: inset 0px 0px 1px 2px #423b2a;
  border-radius: 5px;
}
/* line 326, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .itinerary-list {
  border-bottom: 1px solid #5f553d;
}
/* line 328, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .itinerary-list p {
  padding: 15px 0 15px 40px;
}
/* line 332, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .contests-list {
  border-bottom: 1px solid #5f553d;
}
/* line 334, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .contests-list p {
  padding: 15px 0 15px 40px;
}
/* line 338, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul {
  padding: 0 40px 5px 40px;
  list-style-type: none;
}
/* line 341, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul li {
  color: #c3beb4;
  word-break: break-word;
}
/* line 344, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul li span {
  color: #d4ba14;
  float: right;
  margin-right: -8px;
}
/* line 354, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title {
  margin: 0;
  padding-top: 18px;
}
/* line 357, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title .user-avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("../../../ui/uploads/user-avatar.png");
  border-radius: 50%;
  margin: 3px 8px 3px 30px;
}
/* line 365, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title a {
  font-size: 18px;
  font-family: 'open_sanslight';
  color: #c3beb4;
  display: inline-block;
  padding: 10px 0 0 12px;
  vertical-align: top;
}
/* line 372, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 383, ../scss/main.scss */
header.container-fluid .row .btn-overview {
  width: 140px;
  background-color: #C8b485;
  font-family: 'open_sansregular';
  font-size: 18px;
  color: #443b25;
  box-shadow: none;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #bba87b;
  border-right: 1px solid #bba87b;
  padding: 18px 0 17px 10px;
  margin-right: -4px;
}
/* line 397, ../scss/main.scss */
header.container-fluid .row .btn-overview.active {
  font-family: 'open_sansbold';
  background-color: #d2c29b;
  box-shadow: none;
  font-weight: bold;
}
/* line 403, ../scss/main.scss */
header.container-fluid .row .btn-overview:hover {
  background-color: #d3c39d;
}
/* line 406, ../scss/main.scss */
header.container-fluid .row .btn-overview:active:focus {
  outline: none;
}
/* line 409, ../scss/main.scss */
header.container-fluid .row .btn-overview.active:focus {
  outline: none;
}
/* line 412, ../scss/main.scss */
header.container-fluid .row .btn-overview:focus {
  outline: none;
}
/* line 415, ../scss/main.scss */
header.container-fluid .row .btn-overview .overview-icon {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 23px;
  left: 82px;
  background-image: url("../../../ui/uploads/overview-icon.png");
}
/* line 425, ../scss/main.scss */
header.container-fluid .row .btn-details {
  width: 140px;
  background-color: #C8b485;
  font-family: 'open_sansregular';
  font-size: 18px;
  color: #443b25;
  box-shadow: none;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #bba87b;
  padding: 18px 0 17px 10px;
}
/* line 437, ../scss/main.scss */
header.container-fluid .row .btn-details.active {
  font-family: 'open_sansbold';
  background-color: #d2c29b;
  box-shadow: none;
  font-weight: bold;
}
/* line 443, ../scss/main.scss */
header.container-fluid .row .btn-details:hover {
  background-color: #d3c39d;
}
/* line 446, ../scss/main.scss */
header.container-fluid .row .btn-details:active:focus {
  outline: none;
}
/* line 449, ../scss/main.scss */
header.container-fluid .row .btn-details:focus {
  outline: none;
}
/* line 452, ../scss/main.scss */
header.container-fluid .row .btn-details .details-icon {
  width: 20px;
  height: 16px;
  position: absolute;
  top: 20px;
  left: 232px;
  background-image: url("../../../ui/uploads/details-icon.png");
}
/* line 461, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap {
  padding: 20px 120px 0 0;
  text-align: right;
}
/* line 464, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .share-social-text {
  font-size: 15px;
  font-family: 'open_sansregular';
  color: #453c25;
}
/* line 470, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb {
  position: absolute;
  right: 65px;
  top: 8px;
  border: none;
  background-color: transparent;
}
/* line 476, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb :hover {
  cursor: pointer;
}
/* line 479, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb:focus {
  outline: none;
}
/* line 483, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw {
  position: absolute;
  right: 15px;
  top: 8px;
  border: none;
  background-color: transparent;
}
/* line 489, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw :hover {
  cursor: pointer;
}
/* line 492, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw:focus {
  outline: none;
}

/* line 503, ../scss/main.scss */
.no-padding {
  padding: 0;
}

/* line 506, ../scss/main.scss */
.content-header-wrap {
  width: 100%;
  height: 420px;
  position: relative;
  padding: 0;
  background-image: url("../../../ui/uploads/content-header-lv.png");
  background-size: 100% 100%;
}
/* line 513, ../scss/main.scss */
.content-header-wrap .content-header-text {
  position: absolute;
  bottom: 25px;
  padding: 0 5% 0 20%;
  color: #fff;
}
/* line 519, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .text-uppercase {
  padding-right: 20px;
}
/* line 522, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .family-icon {
  width: 23px;
  height: 20px;
  padding: 0 15px 0 30px;
  background: url("../../../ui/uploads/family-icon.png") no-repeat;
}
/* line 527, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .family-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 8px;
}
/* line 537, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .food-icon {
  width: 13px;
  height: 20px;
  padding: 0 18px 0 20px;
  background: url("../../../ui/uploads/food-icon.png") no-repeat;
}
/* line 542, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .food-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 8px;
}
/* line 552, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .shopping-icon {
  width: 22px;
  height: 20px;
  padding: 0 18px 0 30px;
  background: url("../../../ui/uploads/shopping-icon.png") no-repeat;
}
/* line 557, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .shopping-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 10px;
}
/* line 567, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .pet-icon {
  width: 20px;
  height: 20px;
  padding: 0 15px 0 28px;
  background: url("../../../ui/uploads/pet-icon.png") no-repeat;
}

/* line 577, ../scss/main.scss */
.content-guide-wrap {
  padding: 5px 12%;
}
/* line 581, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info {
  margin: 30px 0 25px 0;
}
/* line 587, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating {
  margin-left: 0;
}
/* line 589, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li {
  padding: 0;
}
/* line 591, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li span {
  color: #eed002;
}
/* line 594, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li .empty {
  color: #d9d8c3;
}
/* line 603, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap {
  width: 100%;
  display: inline-block;
}
/* line 606, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap span {
  width: 14%;
}
/* line 609, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap .progress {
  width: 66%;
  height: 10px;
  display: inline-block;
  background-color: #b9e005;
  border: 1px solid #d9d8c3;
  border-radius: 35px;
  box-shadow: none;
  padding: 1px;
  margin: 6px 0 10px 15px;
}
/* line 620, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap .progress .progress-bar-success {
  background-color: #b9e005;
  border-radius: 10px;
}

/* line 631, ../scss/main.scss */
.content-primary-wrap {
  margin: 0 10%;
  padding: 5px;
  background-color: #f5f4e2;
  border: 1px solid #e4e3d2;
  border-radius: 8px;
  /*    .trip-heading:after {
      	content: "";
  	    width: 63%;
  	    position: absolute;
      	left: 196px;
      	bottom: 167px;
  	    padding-bottom: 8px;
      	background-color: #e4e3d2;
  	    border-radius: 50%;
      }*/
}
/* line 649, ../scss/main.scss */
.content-primary-wrap .panel-heading {
  padding: 5px 15px;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 2px dashed #edede9;
  border-bottom: 2px dashed #edede9;
  border-radius: 0;
}
/* line 657, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title {
  color: #3d380A;
}
/* line 660, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a {
  color: #3d380A;
}
/* line 662, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a:hover {
  text-decoration: none;
}
/* line 665, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a:focus {
  outline: none;
  text-decoration: none;
}
/* line 670, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a span i {
  top: -5px;
  padding: 5px;
  border: 1px solid #fedf0c;
  border-radius: 50%;
  background-color: #fff;
}
/* line 681, ../scss/main.scss */
.content-primary-wrap .trip-body {
  padding-bottom: 150px;
}
/* line 684, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-map-img {
  width: 340px;
  height: 225px;
  display: inline-block;
  background: url("../../../ui/uploads/trip-map.png") 100% 100% no-repeat;
  margin-bottom: 45px;
}
/* line 691, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img {
  width: 340px;
  height: 200px;
  display: inline-block;
  position: relative;
  background: url("../../../ui/uploads/trip-lv-img2.png") 100% 100% no-repeat;
}
/* line 698, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details {
  position: absolute;
  bottom: -155px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 706, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details P {
  padding: 15px;
}
/* line 709, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  color: #ec4b36;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 721, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 724, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}
/* line 734, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-timeline {
  width: 100px;
  height: 364px;
  display: inline-block;
  position: absolute;
  top: 45px;
  background: url("../../../ui/uploads/trip-timeline.png") 100% 100% no-repeat;
}
/* line 742, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img {
  width: 340px;
  height: 200px;
  position: relative;
  display: inline-block;
  background: url("../../../ui/uploads/trip-lv-img.png") 100% 100% no-repeat;
  margin-bottom: 120px;
}
/* line 750, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details {
  position: absolute;
  bottom: -115px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 758, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details P {
  padding: 15px;
}
/* line 761, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  color: #ec4b36;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 773, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 776, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}
/* line 786, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img {
  width: 340px;
  height: 170px;
  position: relative;
  display: inline-block;
  background: url("../../../ui/uploads/trip-lv-img3.png") 100% 100% no-repeat;
}
/* line 793, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details {
  position: absolute;
  bottom: -135px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 801, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details P {
  padding: 15px;
}
/* line 804, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  color: #ec4b36;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 816, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 819, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}

/* line 834, ../scss/main.scss */
.content-slave-wrap .dotted-trip-img {
  width: 195px;
  height: 75px;
  display: block;
  margin: 0 auto;
  background: url("../../../ui/uploads/dotted-trip.png") 100% 100% no-repeat;
}
/* line 844, ../scss/main.scss */
.content-slave-wrap p {
  width: 300px;
  height: auto;
  margin: 0 auto;
}
/* line 849, ../scss/main.scss */
.content-slave-wrap .new-contest-btn {
  width: 269px;
  height: 50px;
  font-size: 16px;
  font-family: "OpenSans";
  color: #3d380a;
  background-color: #ffdf06;
  box-shadow: 0px 2px 0px 0px rgba(223, 196, 10, 0.004);
  border-radius: 5px;
  margin: 15px 0 20px 0;
}

/* line 877, ../scss/main.scss */
.footer-wrap {
  background-color: #453c25;
  padding: 24px 50px 23px 50px;
}
/* line 881, ../scss/main.scss */
.footer-wrap .footer-nav-links {
  text-decoration: inherit;
  padding: 10px 0 0 0;
}
/* line 885, ../scss/main.scss */
.footer-wrap .footer-nav-links li a {
  color: #fff;
  text-decoration: none;
}
/* line 890, ../scss/main.scss */
.footer-wrap .footer-nav-links :hover {
  color: #ffdf06;
}
/* line 895, ../scss/main.scss */
.footer-wrap .footer-logo-link {
  margin-top: 6px;
}
/* line 898, ../scss/main.scss */
.footer-wrap .footer-logo-link .footer-logo {
  width: 57px;
  height: 27px;
  display: inline-block;
  background: url("../../../ui/uploads/footer-arrow.png") 100% 100% no-repeat;
}
/* line 904, ../scss/main.scss */
.footer-wrap .footer-logo-link :hover {
  background: url("../../../ui/uploads/footer-arrow_hover.png") 100% 100% no-repeat;
}
/* line 909, ../scss/main.scss */
.footer-wrap .footer-copyright {
  color: #796b46;
}
/* line 915, ../scss/main.scss */
.footer-wrap .footer-socials .f-social-fb span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url("../../../ui/uploads/glyphicons-social/glyphicons-social-31-facebook.png") 100% 100% no-repeat;
}
/* line 924, ../scss/main.scss */
.footer-wrap .footer-socials .f-social-tw span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url("../../../ui/uploads/glyphicons-social/glyphicons-social-32-twitter.png") 100% 100% no-repeat;
}

/* line 938, ../scss/main.scss */
.btn-sidebar {
  width: 20px;
  height: 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 75px;
  left: 560px;
  background-color: #fede06;
}
/* line 947, ../scss/main.scss */
.btn-sidebar.collapsed {
  left: 0px;
}
/* line 950, ../scss/main.scss */
.btn-sidebar i {
  right: 6px;
}
/* line 953, ../scss/main.scss */
.btn-sidebar span {
  display: none;
}
/* line 958, ../scss/main.scss */
.btn-sidebar #details_info_pop.collapse.in .btn-sidebar span {
  display: inline-block;
  right: 6px;
}
/* line 962, ../scss/main.scss */
.btn-sidebar #details_info_pop.collapse.in .btn-sidebar i {
  display: none;
}

/* line 969, ../scss/main.scss */
#details_info_pop.collapse.in {
  position: fixed;
  top: 50px;
  left: 0;
  width: 560px;
  height: 100%;
  background-color: #fafaf2;
}

/* line 977, ../scss/main.scss */
.sidebar-wrap {
  width: 560px;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  left: 0;
}
/* line 983, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar {
  width: 12px;
  height: 100%;
  background-color: #fff;
}
/* line 988, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar-button {
  display: none;
}
/* line 989, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar-track {
  border-right: 1px solid #e4e3d2;
  border-left: 1px solid #e4e3d2;
}
/* line 993, ../scss/main.scss */
.sidebar-wrap::-webkit-scrollbar-thumb {
  background-color: #e4e3d2;
  box-shadow: inset 0px 0px 0px 3px #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  border-radius: 8px;
}
/* line 1000, ../scss/main.scss */
.sidebar-wrap .header-datepicker {
  margin: 40px 0 30px 0;
}
/* line 1002, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group {
  margin: 10px 0;
}
/* line 1004, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group .btn-daypick {
  font-size: 14px;
  color: #453c25;
  background-color: #fff;
  border: 1px solid #ffdf06;
  padding: 5px 40px;
}
/* line 1012, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group .btn-daypick.active {
  background-color: #ffdf06;
}
/* line 1017, ../scss/main.scss */
.sidebar-wrap .header-datepicker i:hover {
  cursor: pointer;
}
/* line 1021, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap {
  padding: 0 40px;
}
/* line 1024, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group {
  padding: 10px;
  border: 1px solid #e4e3d2;
  border-radius: 10px;
  box-shadow: inset 0px -2px 0px 1px #e4e3d2;
}
/* line 1032, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a {
  font-family: 'open_sanssemibold';
  font-size: 18px;
}
/* line 1036, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a .fork-icon {
  width: 13px;
  height: 20px;
  display: inline-block;
  background: url("../../../ui/uploads/fork-icon.png") 100% 100% no-repeat;
  margin-right: 6px;
}
/* line 1043, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a .basket-icon {
  width: 18px;
  height: 16px;
  display: inline-block;
  background: url("../../../ui/uploads/basket-icon.png") 100% 100% no-repeat;
  margin-right: 6px;
}
/* line 1050, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a .black-pet-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url("../../../ui/uploads/pet-black-icon.png") 100% 100% no-repeat;
  margin-right: 6px;
}
/* line 1057, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a span {
  font-size: 15px;
}
/* line 1060, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a h5 {
  font-family: sans-serif;
  font-size: 15px;
  color: #a1a094;
}
/* line 1065, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .panel-heading .panel-title a:hover {
  text-decoration: none;
}
/* line 1072, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .sidebar-item-img {
  position: relative;
  left: -9px;
  width: 465px;
  height: 260px;
  background: url("../../../ui/uploads/details-sidebar-pasta.png") 100% 100% no-repeat;
}
/* line 1080, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group p {
  padding: 5px 15px 0 15px;
}
/* line 1084, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap .panel-group .collapse-btn i {
  left: 45%;
}
/* line 1089, ../scss/main.scss */
.sidebar-wrap .sidebar-details-item-wrap:last-child {
  margin-bottom: 125px;
}
/* line 1094, ../scss/main.scss */
.sidebar-wrap .waytrip-icon {
  padding: 13px 0 36px 50px;
  position: relative;
}
/* line 1097, ../scss/main.scss */
.sidebar-wrap .waytrip-icon:before {
  content: " ";
  width: 1px;
  height: 35px;
  background-color: #fede06;
  position: absolute;
  bottom: 70px;
  left: 67px;
}
/* line 1107, ../scss/main.scss */
.sidebar-wrap .waytrip-icon span i {
  padding: 10px;
  border: 1px solid #fede06;
  border-radius: 50%;
}
/* line 1113, ../scss/main.scss */
.sidebar-wrap .waytrip-icon:after {
  content: " ";
  background-color: #fede06;
  width: 1px;
  height: 35px;
  position: absolute;
  top: 50px;
  left: 67px;
}
