/* line 1, ../scss/main.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 6, ../scss/main.scss */
#map {
  height: calc(100% - 50px);
  top: 50px;
}

/* line 13, ../scss/main.scss */
header.container-fluid {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
/* line 21, ../scss/main.scss */
header.container-fluid .row nav.navbar-default {
  height: 50px;
  background-image: none;
  background-color: #C8b485;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}
/* line 31, ../scss/main.scss */
header.container-fluid .row .content-header.nav.navbar-nav.collapse.in {
  position: relative;
  top: -80px;
  left: 370px;
}
/* line 38, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle {
  display: inline-block;
  border: none;
  color: #453c25;
  background-color: #C8b485;
}
/* line 44, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle .icon-bar {
  position: relative;
  background-color: #453c25;
}
/* line 49, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle:hover .icon-bar:nth-child(2) {
  transition: top 500ms ease-in-out;
  top: -1px;
}
/* line 53, ../scss/main.scss */
header.container-fluid .row .content-header .navbar-toggle:hover .icon-bar:last-child {
  transition: top 500ms ease-in-out;
  top: 1px;
}
/* line 61, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap {
  width: 340px;
  position: relative;
  left: -15px;
  top: 0;
  background: linear-gradient(to right, #4c4132, #776845);
}
/* line 68, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapsing {
  -webkit-transition: right 1s ease-out 0.5s;
  -moz-transition: right 1s ease-out 0.5s;
  -o-transition: right 1s ease-out 0.5s;
  transition: right 1s ease-out 0.5s;
}
/* line 74, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in {
  height: 100%;
}
/* line 76, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle {
  position: absolute;
  top: -8px;
  left: 340px;
  color: #fff;
  background-color: #942033;
  padding: 21px;
  border-radius: 0;
  transition: right 1s ease-out 0.5s;
}
/* line 85, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle:hover {
  background-color: #a42338;
}
/* line 92, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(3) {
  display: none;
}
/* line 95, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(2) {
  width: 18px;
  background-color: #fff;
  top: 3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 105, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle .icon-bar:nth-child(4) {
  width: 18px;
  background-color: #fff;
  top: -3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 116, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in + .navbar-toggle + ul.nav.navbar-nav.navbar-static-top {
  position: absolute;
  top: 0;
  left: 400px;
  transition: right 1s ease-out 0.5s;
}
/* line 123, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap.collapse.in body {
  background-color: #fff;
  opacity: 0.6;
}
/* line 130, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list {
  background: linear-gradient(to right, #4c4132, #776845);
}
/* line 132, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(2) {
  border-bottom: 1px solid #4f4332;
}
/* line 135, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(3) {
  border-bottom: 1px solid #4f4332;
}
/* line 138, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list div:nth-child(5) {
  border-bottom: 1px solid #4f4332;
}
/* line 141, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list {
  list-style-type: none;
}
/* line 143, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li {
  padding: 8px;
}
/* line 145, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li i {
  color: #a39b8b;
  padding-right: 30px;
}
/* line 149, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li a {
  font-size: 14px;
  font-family: "OpenSans";
  color: #a39b8b;
}
/* line 153, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .left-side-menu-list .user-profile-list li a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 162, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .menu-logo-wrap {
  background: linear-gradient(to bottom right, #473e2d, #4e432f);
}
/* line 164, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap .menu-logo-wrap .header-logo {
  width: 168px;
  height: 28px;
  background: url("../../../ui/uploads/header-logo.png") 3% 50% no-repeat;
  padding: 25px 0 25px 35px;
  margin-left: 30px;
}
/* line 173, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div {
  width: inherit;
  /*height: 60px;*/
  /*border-bottom: 1px solid #4c412d;*/
}
/* line 178, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title {
  padding: 20px;
}
/* line 181, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .itineraries-title {
  margin: 0;
}
/* line 184, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .itineraries-title:before {
  content: " ";
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url("../../../ui/uploads/itinerary-menu-icon.png");
  margin-left: 15px;
}
/* line 194, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .contests-title {
  margin-top: 0;
}
/* line 196, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .contests-title:before {
  content: " ";
  width: 26px;
  height: 26px;
  position: absolute;
  background-image: url("../../../ui/uploads/contests-menu-icon.png");
  margin-left: 15px;
}
/* line 206, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-title {
  margin-top: 0;
}
/* line 208, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-title:before {
  content: " ";
  width: 26px;
  height: 20px;
  position: absolute;
  background-image: url("../../../ui/uploads/messages-menu-icon.png");
  margin-left: 15px;
}
/* line 217, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title a {
  font-size: 18px;
  font-family: "OpenSans";
  color: #c3beb4;
  padding: 0 0 0 60px;
}
/* line 222, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 227, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body {
  height: 100%;
  position: absolute;
  left: 0;
  overflow-y: scroll;
  background-color: #544c37;
  opacity: 0.702;
}
/* line 234, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .itinerary-list {
  border-bottom: 1px solid #5f553d;
}
/* line 237, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body .contests-list {
  border-bottom: 1px solid #5f553d;
}
/* line 241, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}
/* line 244, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .menu-item-title .msgs-list-body ul li {
  color: #c3beb4;
}
/* line 251, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title {
  margin: 0;
  padding-top: 18px;
}
/* line 254, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title .user-avatar {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url("../../../ui/uploads/user-avatar.png");
  border-radius: 50%;
  margin: 3px 8px 3px 30px;
}
/* line 262, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title a {
  font-size: 18px;
  font-family: "OpenSans";
  color: #c3beb4;
  display: inline-block;
  padding: 10px 0 0 12px;
  vertical-align: top;
}
/* line 269, ../scss/main.scss */
header.container-fluid .row .content-header .left-side-menu-wrap div .user-title a:hover {
  text-decoration: none;
  color: inherit;
}
/* line 280, ../scss/main.scss */
header.container-fluid .row .btn-overview {
  width: 140px;
  background-color: #C8b485;
  font-family: "OpenSans";
  font-size: 16px;
  color: #443b25;
  box-shadow: none;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #453c25;
  border-right: 1px solid #453c25;
  padding: 14px 0;
  margin-right: -4px;
}
/* line 294, ../scss/main.scss */
header.container-fluid .row .btn-overview.active {
  background-color: #d2c29b;
  box-shadow: none;
  font-weight: bold;
}
/* line 299, ../scss/main.scss */
header.container-fluid .row .btn-overview:hover {
  background-color: #d3c39d;
}
/* line 302, ../scss/main.scss */
header.container-fluid .row .btn-overview:active:focus {
  outline: none;
}
/* line 305, ../scss/main.scss */
header.container-fluid .row .btn-overview.active:focus {
  outline: none;
}
/* line 308, ../scss/main.scss */
header.container-fluid .row .btn-overview:focus {
  outline: none;
}
/* line 311, ../scss/main.scss */
header.container-fluid .row .btn-overview .overview-icon {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 15px;
  left: 87px;
  background-image: url("../../../ui/uploads/overview-icon.png");
}
/* line 321, ../scss/main.scss */
header.container-fluid .row .btn-details {
  width: 140px;
  background-color: #C8b485;
  font-family: "OpenSans";
  font-size: 16px;
  color: #443b25;
  box-shadow: none;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #453c25;
  padding: 14px 0;
}
/* line 333, ../scss/main.scss */
header.container-fluid .row .btn-details.active {
  background-color: #d2c29b;
  box-shadow: none;
  font-weight: bold;
}
/* line 338, ../scss/main.scss */
header.container-fluid .row .btn-details:hover {
  background-color: #d3c39d;
}
/* line 341, ../scss/main.scss */
header.container-fluid .row .btn-details:active:focus {
  outline: none;
}
/* line 344, ../scss/main.scss */
header.container-fluid .row .btn-details:focus {
  outline: none;
}
/* line 347, ../scss/main.scss */
header.container-fluid .row .btn-details .details-icon {
  width: 20px;
  height: 16px;
  position: absolute;
  left: 237px;
  background-image: url("../../../ui/uploads/details-icon.png");
}
/* line 355, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap {
  padding: 12px 110px 0 0;
  text-align: right;
}
/* line 358, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .share-social-text {
  font-size: 15px;
  font-family: "OpenSans";
  color: #453c25;
}
/* line 363, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 65px;
  top: 6px;
  border: none;
  background-image: url("../../../ui/uploads/fb-icon.png");
  background-color: transparent;
}
/* line 372, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb :hover {
  cursor: pointer;
}
/* line 375, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-fb:focus {
  outline: none;
}
/* line 379, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 15px;
  top: 6px;
  border: none;
  background-image: url("../../../ui/uploads/tw-icon.png");
  background-color: transparent;
}
/* line 388, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw :hover {
  cursor: pointer;
}
/* line 391, ../scss/main.scss */
header.container-fluid .row .header-socials-wrap .social-tw:focus {
  outline: none;
}

/* line 402, ../scss/main.scss */
.no-padding {
  padding: 0;
}

/* line 405, ../scss/main.scss */
.content-header-wrap {
  width: 100%;
  height: 420px;
  position: relative;
  padding: 0;
  background-image: url("../../../ui/uploads/content-header-lv.png");
  background-size: 100% 100%;
}
/* line 412, ../scss/main.scss */
.content-header-wrap .content-header-text {
  position: absolute;
  bottom: 25px;
  padding: 0 5% 0 20%;
  color: #fff;
}
/* line 418, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .text-uppercase {
  padding-right: 20px;
}
/* line 421, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .family-icon {
  width: 23px;
  height: 20px;
  padding: 0 15px 0 30px;
  background: url("../../../ui/uploads/family-icon.png") no-repeat;
}
/* line 426, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .family-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 8px;
}
/* line 436, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .food-icon {
  width: 13px;
  height: 20px;
  padding: 0 18px 0 20px;
  background: url("../../../ui/uploads/food-icon.png") no-repeat;
}
/* line 441, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .food-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 8px;
}
/* line 451, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .shopping-icon {
  width: 22px;
  height: 20px;
  padding: 0 18px 0 30px;
  background: url("../../../ui/uploads/shopping-icon.png") no-repeat;
}
/* line 456, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .shopping-icon:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: #fff;
  opacity: 0.4;
  margin-left: 10px;
}
/* line 466, ../scss/main.scss */
.content-header-wrap .content-header-text .content-header-breadcrumbs .pet-icon {
  width: 20px;
  height: 20px;
  padding: 0 15px 0 28px;
  background: url("../../../ui/uploads/pet-icon.png") no-repeat;
}

/* line 476, ../scss/main.scss */
.content-guide-wrap {
  padding: 5px 12%;
}
/* line 480, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info {
  margin: 30px 0 25px 0;
}
/* line 486, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating {
  margin-left: 0;
}
/* line 488, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li {
  padding: 0;
}
/* line 490, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li span {
  color: #eed002;
}
/* line 493, ../scss/main.scss */
.content-guide-wrap .user-info-wrap .user-main-info .media-body .user-rating li .empty {
  color: #d9d8c3;
}
/* line 502, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap {
  width: 100%;
  display: inline-block;
}
/* line 505, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap span {
  width: 14%;
}
/* line 508, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap .progress {
  width: 66%;
  height: 10px;
  display: inline-block;
  background-color: #b9e005;
  border: 1px solid #d9d8c3;
  border-radius: 35px;
  box-shadow: none;
  padding: 1px;
  margin: 6px 0 10px 15px;
}
/* line 519, ../scss/main.scss */
.content-guide-wrap .user-additional-info .user-progress-wrap .progress .progress-bar-success {
  background-color: #b9e005;
  border-radius: 10px;
}

/* line 530, ../scss/main.scss */
.content-primary-wrap {
  margin: 0 10%;
  padding: 5px;
  background-color: #f5f4e2;
  border: 1px solid #e4e3d2;
  border-radius: 8px;
  /*    .trip-heading:after {
      	content: "";
  	    width: 63%;
  	    position: absolute;
      	left: 196px;
      	bottom: 167px;
  	    padding-bottom: 8px;
      	background-color: #e4e3d2;
  	    border-radius: 50%;
      }*/
}
/* line 548, ../scss/main.scss */
.content-primary-wrap .panel-heading {
  padding: 5px 15px;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 2px dashed #edede9;
  border-bottom: 2px dashed #edede9;
  border-radius: 0;
}
/* line 556, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title {
  color: #3d380A;
}
/* line 559, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a {
  color: #3d380A;
}
/* line 561, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a:hover {
  text-decoration: none;
}
/* line 564, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a:focus {
  outline: none;
  text-decoration: none;
}
/* line 569, ../scss/main.scss */
.content-primary-wrap .panel-heading .trip-title a span i {
  top: -5px;
  padding: 5px;
  border: 1px solid #fedf0c;
  border-radius: 50%;
  background-color: #fff;
}
/* line 580, ../scss/main.scss */
.content-primary-wrap .trip-body {
  padding-bottom: 150px;
}
/* line 583, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-map-img {
  width: 340px;
  height: 225px;
  display: inline-block;
  background: url("../../../ui/uploads/trip-map.png") 100% 100% no-repeat;
  margin-bottom: 45px;
}
/* line 590, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img {
  width: 340px;
  height: 200px;
  display: inline-block;
  position: relative;
  background: url("../../../ui/uploads/trip-lv-img2.png") 100% 100% no-repeat;
}
/* line 597, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details {
  position: absolute;
  bottom: -155px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 605, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details P {
  padding: 15px;
}
/* line 608, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  color: #ec4b36;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 620, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 623, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv2-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}
/* line 633, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-timeline {
  width: 100px;
  height: 364px;
  display: inline-block;
  position: absolute;
  top: 45px;
  background: url("../../../ui/uploads/trip-timeline.png") 100% 100% no-repeat;
}
/* line 641, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img {
  width: 340px;
  height: 200px;
  position: relative;
  display: inline-block;
  background: url("../../../ui/uploads/trip-lv-img.png") 100% 100% no-repeat;
  margin-bottom: 120px;
}
/* line 649, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details {
  position: absolute;
  bottom: -115px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 657, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details P {
  padding: 15px;
}
/* line 660, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  color: #ec4b36;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 672, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 675, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv1-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}
/* line 685, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img {
  width: 340px;
  height: 170px;
  position: relative;
  display: inline-block;
  background: url("../../../ui/uploads/trip-lv-img3.png") 100% 100% no-repeat;
}
/* line 692, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details {
  position: absolute;
  bottom: -135px;
  width: inherit;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 700, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details P {
  padding: 15px;
}
/* line 703, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link {
  width: 100%;
  height: auto;
  display: inline-block;
  padding: 8px 5px 8px 15px;
  margin-bottom: 18px;
  color: #ec4b36;
  background: linear-gradient(to right, #ffffff, #f5f4e2);
  border-top: 1px dashed #edede9;
  border-bottom: 1px dashed #edede9;
  border-radius: 0;
}
/* line 715, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link:hover {
  text-decoration: none;
}
/* line 718, ../scss/main.scss */
.content-primary-wrap .trip-body .trip-body-lv3-img .trip-item-details .trip-item-link .map-pointer {
  width: 10px;
  height: 15px;
  display: inline-block;
  background: url("../../../ui/uploads/map-pointer.png") 100% 100% no-repeat;
}

/* line 733, ../scss/main.scss */
.content-slave-wrap .dotted-trip-img {
  width: 195px;
  height: 75px;
  display: block;
  margin: 0 auto;
  background: url("../../../ui/uploads/dotted-trip.png") 100% 100% no-repeat;
}
/* line 743, ../scss/main.scss */
.content-slave-wrap p {
  width: 300px;
  height: auto;
  margin: 0 auto;
}
/* line 748, ../scss/main.scss */
.content-slave-wrap .new-contest-btn {
  width: 269px;
  height: 50px;
  font-size: 16px;
  font-family: "OpenSans";
  color: #3d380a;
  background-color: #ffdf06;
  box-shadow: 0px 2px 0px 0px rgba(223, 196, 10, 0.004);
  border-radius: 5px;
  margin: 15px 0 20px 0;
}

/* line 776, ../scss/main.scss */
.footer-wrap {
  background-color: #453c25;
  padding: 24px 50px 23px 50px;
}
/* line 780, ../scss/main.scss */
.footer-wrap .footer-nav-links {
  text-decoration: inherit;
  padding: 10px 0 0 0;
}
/* line 784, ../scss/main.scss */
.footer-wrap .footer-nav-links li a {
  color: #fff;
  text-decoration: none;
}
/* line 789, ../scss/main.scss */
.footer-wrap .footer-nav-links :hover {
  color: #ffdf06;
}
/* line 794, ../scss/main.scss */
.footer-wrap .footer-logo-link {
  margin-top: 6px;
}
/* line 797, ../scss/main.scss */
.footer-wrap .footer-logo-link .footer-logo {
  width: 57px;
  height: 27px;
  display: inline-block;
  background: url("../../../ui/uploads/footer-arrow.png") 100% 100% no-repeat;
}
/* line 803, ../scss/main.scss */
.footer-wrap .footer-logo-link :hover {
  background: url("../../../ui/uploads/footer-arrow_hover.png") 100% 100% no-repeat;
}
/* line 808, ../scss/main.scss */
.footer-wrap .footer-copyright {
  color: #796b46;
}
/* line 814, ../scss/main.scss */
.footer-wrap .footer-socials .f-social-fb span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url("../../../ui/uploads/glyphicons-social/glyphicons-social-31-facebook.png") 100% 100% no-repeat;
}
/* line 823, ../scss/main.scss */
.footer-wrap .footer-socials .f-social-tw span {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url("../../../ui/uploads/glyphicons-social/glyphicons-social-32-twitter.png") 100% 100% no-repeat;
}

/* line 838, ../scss/main.scss */
.btn-sidebar {
  width: 20px;
  height: 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  top: 75px;
  left: 560px;
  background-color: #fede06;
}
/* line 847, ../scss/main.scss */
.btn-sidebar.collapsed {
  left: 0px;
}
/* line 850, ../scss/main.scss */
.btn-sidebar i {
  right: 6px;
}

/* line 854, ../scss/main.scss */
#details_info_pop.collapse.in {
  position: fixed;
  top: 50px;
  left: 0;
  width: 560px;
  height: 100%;
  background-color: #fafaf2;
}

/* line 862, ../scss/main.scss */
.sidebar-wrap {
  width: 560px;
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  left: 0;
}
/* line 869, ../scss/main.scss */
.sidebar-wrap .header-datepicker {
  margin: 40px 0 30px 0;
}
/* line 871, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group {
  margin: 10px 0;
}
/* line 873, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group .btn-daypick {
  font-size: 14px;
  color: #453c25;
  background-color: #fff;
  border: 1px solid #ffdf06;
  padding: 5px 40px;
}
/* line 881, ../scss/main.scss */
.sidebar-wrap .header-datepicker .btn-group .btn-daypick.active {
  background-color: #ffdf06;
}
/* line 886, ../scss/main.scss */
.sidebar-wrap .header-datepicker i:hover {
  cursor: pointer;
}
/* line 890, ../scss/main.scss */
.sidebar-wrap .panel-group {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}
/* line 898, ../scss/main.scss */
.sidebar-wrap .panel-group .sidebar-item-img {
  width: 470px;
  height: 260px;
  background: url("../../../ui/uploads/details-sidebar-pasta.png") 100% 100% no-repeat;
}
/* line 906, ../scss/main.scss */
.sidebar-wrap .panel-group .collapse-btn i {
  left: 45%;
}
/* line 912, ../scss/main.scss */
.sidebar-wrap .waytrip-icon {
  padding: 13px 0 36px 30px;
  position: relative;
}
/* line 915, ../scss/main.scss */
.sidebar-wrap .waytrip-icon:before {
  content: " ";
  width: 1px;
  height: 35px;
  background-color: #fede06;
  position: absolute;
  bottom: 70px;
  left: 47px;
}
/* line 925, ../scss/main.scss */
.sidebar-wrap .waytrip-icon span i {
  padding: 10px;
  border: 1px solid #fede06;
  border-radius: 50%;
}
/* line 931, ../scss/main.scss */
.sidebar-wrap .waytrip-icon:after {
  content: " ";
  background-color: #fede06;
  width: 1px;
  height: 35px;
  position: absolute;
  top: 50px;
  left: 47px;
}
